#main_container {
    width: 1800px;
    background-color: #333A40;
    margin: 0 auto;
    margin-top: 110px;
    height:auto;
    overflow:hidden;
}

.content_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #465259;
    border-radius: 2px;
}

label {
    margin: 0;
    float: left;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.title_text {
    float: left;
    margin: 0;
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
}

input {
    height: 38px;
    font-size: 14px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    background-color: #FFFFFF;
}

.search_text{
    color: white;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    font-size: 14px;
}

#content_search {
    width: 99%;
    height: 80px;
    margin-bottom: 30px;
    background-color: #333A40;
    border-radius: 6px;
    border: 1px solid #465259;
    text-align: center;
    height: auto;
    overflow: hidden;
}

#today_inspector{
    width: 99%;
    height: 80px;
    margin-bottom: 30px;
    background-color: #333A40;
    border-radius: 6px;
    border: 1px solid #465259;
    text-align: center;
    height: auto;
    overflow: hidden;
}


#search_control {
    width: 90%;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    margin-top: 20px;
    display: flex;
}

#search_control > input{
    margin-left:10px;
    margin-right:10px;
    flex:1;
}


#search_control > .l_label{
    margin-left: 5px;
    margin-right: 5px;
    flex: 0.5;
}

#search_control > button{
    margin-left:10px;
    margin-right:10px;
    flex:1;
}

#input_date {
    height: 35px;
}

#form_insert{
    padding-bottom:15px;
}

#btn_search {
    width: 10%;
    background: #477fd3;
    color: #fff;
    border: none;
    position: relative;
    height: 35px;
    font-size: 14px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    float: left;
    margin-left:20px;
}

#btn_search:hover {
    background: #fff;
    color: #477fd3;
}

#btn_search:before, #btn_search:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #477fd3;
    transition: 400ms ease all;
}

#btn_search:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#btn_search:hover:before, #btn_search:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

#sub_container {
    width: 37%;
    /*height: 700px;*/
    height: 635px;
    float: left;
}

#content_summary {
    width: 49%;
    height: 25%;
    float: left;
    background-color: #333A40;
    border-radius: 6px;
    border: 1px solid #465259;
    text-align: center;
    margin-right:2%;
}

#content_thick_graph {
    width: 49%;
    height: 25%;
    float: left;
    background-color: #333A40;
    border-radius: 6px;
    border: 1px solid #465259;
    text-align: center;
}

#content_table {
    width: 100%;
    height: 73%;
    float: left;
    background-color: #333A40;
    margin-top: 2%;
    border-radius: 6px;
    border: 1px solid #465259;
}

#content_table > .table {
    color:white;
}

#summary_thick, #summary_surface {
    width: 100%;
    margin-block-start: 1.3em;
    margin-block-end: 1.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 15px;
}

#summary_surface_t {
    font-weight: bold;
    width: 100%;
    font-size: 40px;
    height: 100px;
    line-height: 100px;
}

#summary_surface01,#summary_surface02 {
    font-weight: bold;
    width: 100%;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
}

#history_table {
     height: 412px;
     overflow: auto;
}

#history_table::-webkit-scrollbar {
    width: 15px;
}

#history_table::-webkit-scrollbar-thumb {
    /* background-color: #465259; */
    background-color: #FACC2E;
    
}

#content_table > .pagenate {
    width:100%;
    height:44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagenate_next {
    background-color: white; 
    color:#272727;
    padding: 5px 9px 5px 7px; 
    border-radius: 3px; 
    cursor:pointer;
}

.pagenate_prev {
    background-color: white; 
    color:#272727;
    padding: 5px 9px 5px 7px; 
    border-radius: 3px; 
    cursor:pointer;
}

#content_table > .pagenate > a {
    border-radius: 5px;
    color:#2F2F2F;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    padding: 5px 9px 5px 9px;
    cursor: pointer;
    margin:3px;
}

.row_data {
    font-size:14px;
    height:33px;
    line-height: 33px;
    cursor: pointer;
}

.row_data:hover {
    background-color: #477fd3;
}

#history_table > table {
    color:white;
    font-size:15px;
    height:auto;
    overflow:scroll;
}

table.table_type {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 13px;
}

table.table_type thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: white;
    background-color: #333A40;
    margin: 20px 10px;
}

table.table_type tbody {
    cursor: pointer;
}

table.table_type tbody th {
    padding: 10px;
}

table.table_type td {
    padding: 10px;
    vertical-align: top;
}

table.table_type tr:hover {
    background-color: #49545E;
}

table.table_type .even {
    background: #fdf3f5;
}

.close {
  float: right;
  cursor: pointer;
}

#content_img {
    width: 60%;
    height: 700px;
    margin-left: 2%;
    margin-bottom: 30px;
    float: left;
    background-color: #333A40;
    border-radius: 6px;
    border: 1px solid #465259;
    text-align: center;
}

#content_img > .img_section {
    width:calc(100%);
    /*height:calc(100% - 50px);*/
    height:calc(100% - 115px);
    float:left;
    color:#2F2F2F;
}

#content_img > .img_section > img {
    float:left;
    width:50%;
    height:100%;
}

#content_graph {
    width: 99%;
    height: 250px;
    margin-bottom: 30px;
    float: left;
    background-color: #333A40;
    border-radius: 6px;
    border: 1px solid #465259;
    text-align: center;
}