{% extends 'layout.html '%}

{% block content %}

    <div id="main_container">
        <div id="today_inspector">
            
        </div>

        <div id="content_search">
            <form id="form_insert" role="form" name="frm" method='post'>
                <div id="search_control">
                    <label class="search_text l_label">검사 항목 : </label>
                    <input id="input_model" style="float: left;" type="text" name="value_model" placeholder="모델" class="form-control" autocomplete="off" value="ModelData">
                    <label class="search_text l_label" >날짜 : </label>
                    <input id="input_date1" style="float: left; cursor: pointer;" type="date" name="value_date" placeholder="날짜" value="2022-11-14">
                    <input id="input_date2" style="float: left; cursor: pointer;" type="date" name="value_date" placeholder="날짜" value="2022-11-14">
                    <label class="search_text l_label">길이 지점 : </label>
                    <input id="input_start" style="float: left;" type="text" name="value_start" placeholder="시작" class="form-control" autocomplete="off" value="0">
                    <label class="search_text">~</label>
                    <input id="input_end" style="float: left;" type="text" name="value_end" placeholder="종료" class="form-control" autocomplete="off" value="100000">
                    <button id="btn_search" type="button" name="search" value="search">검색</button>
                    <button id="btn_export" type="button" name="-" value="" class="btn btn-success btn-sm" style="height: 35px; padding: 0.5rem;" onclick="location.href='download_csv'">Excel Export</button>
                </div>
            </form>
        </div>

        <div id="sub_container">
            <div id="content_summary">
                <div class="content_title">
                    <label class="title_text">Summary</label>
                </div>
                <label id="summary_surface01">-</label>
                <label id="summary_surface02">-</label>
            </div>

            <div id="content_thick_graph">
                <div class="content_title">
                    <label class="title_text">Product NG</label>
                    <label id="summary_surface_t">-</label>
                </div>
                
            </div>

            <div id="content_table">
                <div class="content_title">
                    <label class="title_text" style="width:93%">Table
                        <p style="float:right; margin-bottom:0px;">
                            <i id="search_prev" class="bi bi-arrow-bar-left pagenate_next" style="visibility: hidden;">이전검색</i>
                            <i id="search_next" class="bi bi-arrow-bar-right pagenate_next" style="visibility: hidden;">다음검색</i>
                        </p>
                        
                    </label>
                    
                                     
                </div>
                <!-- 검색 테이블-->
                <div id="history_table">
                    <table class="table" style="color:white">
                        <tr>
                            <th>ID</th>
                            <th>모델명</th>
                            <th>두께</th>
                            <th>거리</th>
                            <th>Cam01</th>
                            <th>Cam02</th>
                            <th>시간</th>
                        </tr>
                    </table>
                </div>
                <div class="pagenate">

                </div>
            </div>
        </div>
        <div id="content_img">
            <div class="content_title">
                <label class="title_text">Result</label>
            </div>
            <div class="img_section">
                <img src="{{url_for('static', filename='image/no_img.jpg')}}">
                <img src="{{url_for('static', filename='image/no_img.jpg')}}">
            </div>
        </div>
        <!--<div id="content_graph">
            <div class="content_title">
                <label class="title_text">Graph</label>
            </div>
        </div>-->
    </div>

    <script type="module" src="../static/js/compoments/history.mjs"></script>

{% endblock %}