{% extends 'layout.html '%}

{% block content %}
    <div id="main_container">
        <label id="message">{{test_message}}</label>
        <div id="content_img">
            <div class="content_title">
                <label class="title_text">Live Camera Image</label>
            </div>
            <div class="img_direction"></div>
            <!-- live img -->
            <div class="img_section">
                <img src="{{url_for('static', filename='/image/no_img.jpg')}}">
                <img src="{{url_for('static', filename='/image/no_img.jpg')}}">
            </div>
            <div class="img_direction"></div>
            <!-- live img -->
        </div>

        <div id="sub_container">
            <div id="content_info">
                <div class="content_title">
                    <label class="title_text">Information</label>
                </div>
                <label id="result_name"></label>
                <label id="result_len"></label>
                <label id="result_thc01"></label>
                <label id="result_thc02"></label>
                <label id="result_lc"></label>
            </div>
            <div id="content_graph">
                <div class="content_title">
                    <label class="title_text">Graph</label>
                </div>
                <canvas id="thickness_chart" width="650" height="350"></canvas>
            </div>
        </div>
    </div>

    <script type="module" src="../static/js/compoments/main.mjs">
        {{ws}}
    </script>
    

{% endblock %}
    
